#app{
    background-color: cornflowerblue;
    color: white;
}
.btn-outline-success{
    background-color: cornflowerblue;
    color: white;
}

.card{
    margin: 1em;
}
#card-holder{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}





